
*.txt
target/classes/CapaAccesoADB/DocumentosXPalabraController.class
target/classes/CapaAccesoADB/PalabraController.class
target/classes/CapaLogica/Vocabulario.class
target/classes/Entidades/Documento.class
target/classes/Entidades/Palabra.class
target/classes/Entidades/DocumentoXPalabra.class
target/classes/Entidades/Posteo.class
target/maven-archiver/pom.properties
target/TPU3-1.war
target/TPU3-1/WEB-INF/classes/CapaAccesoADB/DocumentosXPalabraController.class
target/TPU3-1/WEB-INF/classes/CapaLogica/Vocabulario.class
target/TPU3-1/WEB-INF/classes/CapaAccesoADB/PalabraController.class
target/TPU3-1/WEB-INF/classes/Entidades/DocumentoXPalabra.class
target/TPU3-1/WEB-INF/classes/Entidades/Documento.class
target/TPU3-1/WEB-INF/classes/Entidades/DXPKey.class
target/TPU3-1/WEB-INF/classes/Entidades/Posteo.class
target/TPU3-1/WEB-INF/classes/Entidades/Palabra.class
src/main/resources/META-INF/persistence.xml
target/classes/.netbeans_automatic_build
target/classes/CapaAccesoADB/DocumentosXPalabraController.class
target/classes/CapaLogica/Vocabulario.class
target/classes/META-INF/persistence.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/test-classes/.netbeans_automatic_build
target/TPU3-1.war
target/TPU3-1/pfv5ee8.dpf
target/TPU3-1/WEB-INF/classes/.netbeans_automatic_build
target/TPU3-1/WEB-INF/classes/CapaAccesoADB/DocumentosXPalabraController.class
target/TPU3-1/WEB-INF/classes/CapaLogica/Vocabulario.class
target/TPU3-1/WEB-INF/classes/META-INF/persistence.xml
target/classes/CapaAccesoADB/DocumentosXPalabraController.class
target/classes/CapaLogica/Vocabulario.class
target/classes/META-INF/persistence.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/TPU3-1.war
target/TPU3-1/WEB-INF/classes/CapaAccesoADB/DocumentosXPalabraController.class
target/TPU3-1/WEB-INF/classes/CapaLogica/Vocabulario.class
target/TPU3-1/WEB-INF/classes/META-INF/persistence.xml
